<%- include("../layouts/admin/header.ejs") -%>
<div class="screen-overlay"></div>
<aside class="navbar-aside" id="offcanvas_aside">
    <div class="aside-top">
        <a class="brand-wrap">
            KEF
        </a>
        <div>
            <button class="btn btn-icon btn-aside-minimize"><i class="text-muted material-icons md-menu_open"></i></button>
        </div>
    </div>
    <nav>
        <ul class="menu-aside">
            <li class="menu-item active">
                <a class="menu-link" href="/admin/dashboard">
                    <i class="icon material-icons md-home"></i>
                    <span class="text">Dashboard</span>
                </a>
            </li>
            <li class="menu-item ">
                <a class="menu-link" href="/admin/products">
                    <i class="icon material-icons md-shopping_bag"></i>
                    <span class="text">Products</span>
                </a>
              
            </li>
          
            <li class="menu-item">
                <a class="menu-link" href="/admin/userms">
                    <i class="icon material-icons md-person"></i>
                    <span class="text">user managmnet</span>
                </a>
            </li>
            <li class="menu-item ">
                <a class="menu-link" href="/admin/categories">
                    <i class="icon material-icons md-category"></i>
                    <span class="text">Categories</span>
                </a>
              
            </li>
            <li class="menu-item ">
                <a class="menu-link" href="/admin/orders">
                    <i class="icon material-icons md-shopping_bag"></i>
                    <span class="text">Orders</span>
                </a>
              
            </li>
            <li class="menu-item ">
                <a class="menu-link" href="/admin/coupons"> <i class="icon material-icons md-monetization_on"></i>
                    <span class="text">Coupons</span>
                </a>
            
            </li>
            <li class="menu-item ">
                <a class="menu-link" href="/admin/banners"> <i class="icon material-icons md-monetization_on"></i>
                    <span class="text">Banners</span>
                </a>
            
            </li>
            <li class="menu-item ">
                <a class="menu-link" href="/admin/offers"> <i class="icon material-icons md-monetization_on"></i>
                    <span class="text">Offers</span>
                </a>
            </li>
         
            
        
      
        </ul>
        <hr />
        <br />
        <br />
    </nav>
</aside>
<%- include("../layouts/admin/footer.ejs") -%>